<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>site_ITS</title>
</head>
<body>
    <div class="site">
        <div class="site-footer">
            <div class="site-top">
                <div class="container">
                    <div class="site-text">
                        <div class="left">
                            <div class="top-title">
                                Here you will be able to get the best education
                            </div>
                            <div class="top-subtitle">
                                You will be able to achieve all your goals
                            </div>
                        </div>
                        <div class="right">
                            <a href="#" class="site-btn">Submit <br>document</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-bot">
                <div class="container">
                    <div class="bot-row">
                        <div class="site-bot-col edge">
                            <img src="src/VVSU.png" class="bot-logo" alt="vvsu"/>
                            <div class="circle-social">
                                <div class="circle ytb">
                                    <a href="#" class="site-ytb social"><img src="src/youtube.png" alt="youtube"></a>
                                </div>
                                <div class="circle tg">
                                    <a href="#" class="site-tg social"><img src="src/telegram.png" alt="telegram"></a>
                                </div>
                                <div class="circle vk">
                                    <a href="#" class="site-vk social"><img src="src/vk.png" alt="вконтакте"></a>
                                </div>
                            </div>
                        </div>
                        <div class="site-bot-col middle about">
                            <h4>Information</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Information about the education organization</a>
                                </li>
                                <li>
                                    <a href="#">Study Destinations</a>
                                </li>
                                <li>
                                    <a href="#">Partner Universities</a>
                                </li>
                            </ul>
                        </div>
                        <div class="site-bot-col edge about">
                            <h4>Conatacts</h4>
                            <a href="tel: +74232404023">8 (911) 345-23-45</a>
                            <a href="email: vvsu@edu.vvsu.ru">Email: vvgu@edu.vvsu.ru</a>
                            <h4>Location</h4>
                            Gogol str., 41, Vladivostok, Primorsky Krai 690014
                        </div>
                    </div>
                    <div class="site-bot-copyright">
                        © 2023 Vladivostok State University
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>